.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  background-color: var(--color-secondary-dark);
  color: var(--color-secondary);
  height: 250px;
  width: 250px;
  padding: 20px 10px;
}

.contentList {
  list-style: none;
  font-size: var(--font-size-md);
  font-family: var(--font-family);
  padding: 0;
}

.newCard {
  background-color: var(--color-primary);
  color: var(--font-color);
}

.imageFile {
  width: 80px;
  height: 80px;
  object-fit: contain;
  border-radius: 50%;
}