.aboutContainer {
  margin-top: 10%;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 1rem;
  color: #fff;
  font-size: 1rem;
  border: 2px solid #fff;
  border-radius: 12px;
}

a {
  margin-left: 5px;
  text-decoration-style: none;
  color: #fff;
  padding: 2px 4px;
  border-radius: 6px;
}

a:link, a:visited {
  text-decoration: none;
}

a:hover, a:active {
  background-color: #ffe600;
  color: #000;
}