.formOptions {
  display: flex;
  gap: 15px;
  border-radius: var(--radius);
  background-color: var(--color-secondary-dark);
  padding: 2rem;
}

.results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
}