.searchInput {
  flex: 1;
  height: 100%;
  padding: 0 1rem;
  border: 2px solid #fff;
  border-radius: 12px;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;;
  backdrop-filter: blur(6px);
  transition:
    border-color 0.2s ease,
    background 0.2s ease;
}

.searchInput::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.searchInput:focus {
  outline: none;
  border-color: #fff;
  background: rgba(255, 255, 255, 0.25);
}

.searchForm {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  height: 48px;
  width: 70%;
  margin: 2rem auto;
  padding: 0 1rem;
}
