.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 2rem;
  gap: 15px;
}

.link {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s ease;
  position: relative;
}

.linkActive::after {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  content: '';
  height: 2px;
  background-color: #fff;
}
