html {
  min-height: 100%;
  background: linear-gradient(to bottom right, magenta, cyan);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


body {
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
}

.searchBtn:hover,
.backHomeBtn:hover,
.controlBtn:hover {
  background-color: #ffe600;
  transform: scale(1.03);
}

.inactive {
  background-color: #ccc;
  color: #666;
  pointer-events: none;
  cursor: not-allowed;
}
