html {
  min-height: 100%;
  background: linear-gradient(to bottom right, #ff00ff, #00ffff);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


body {
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
}