.button {
  flex-shrink: 0;
  min-width: 120px;
  height: 50px;
  padding: 1rem;
  color: var(--color-basic-dark);
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 2px 6px var(--shadow-color-light);
  box-sizing: border-box;
}

.primary {
  background-color: var(--color-primary);
}

.primary:hover {
  background-color: var(--color-primary-hover);
  border: 1px solid var(--border-color-primary);
  box-shadow: 0 2px 6px var(--shadow-color-primary);
}

.secondary {
  background-color: var(--color-secondary);
}

.secondary:hover {
  border: 1px solid var(--border-color-secondary);;
  box-shadow: 0 2px 6px var(--shadow-color-secondary);
}

.primary:disabled,
.secondary:disabled {
  background-color: var(--color-disabled);
  color: var(--font-color-disabled);
  cursor: default;
  pointer-events: none;
}

.iconBtn {
  position: absolute;
  top: 10px;
  right: 5px;
  min-width: auto;
  max-width: 50px;
  padding: 0.8rem 1rem;
  align-self: flex-end;
  background-color: var(--color-secondary);
  color: var(--color-basic-dark);
  box-shadow: 0 4px 10px var(--shadow-color-basic);
}

.iconBtn:hover {
  background-color: var(--color-warning);
}


