.formContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 40%;
}

.formField {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.formFieldInline {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

input {
  width: 100%;
  border-radius: 4px;
  height: 30px;
  font-size: 16px;
}

input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

.infoPlaceholder{
  height: 18px;
}

.passwordStrength {
  margin: 0;
  font-size: 14px;
}

.weak {
  color: #e6aace;
}

.average {
  color: #cca43b;
}

.strong {
  color: #bfcc94
}

.formErrors{
  color: #e6aace;
  margin: 0;
  font-size: 14px;
}
