.formContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 40%;
}

.formField {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.formFieldInline {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

input {
  width: 100%;
  border-radius: 4px;
  height: 30px;
  font-size: 16px;
}

input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

.formErrors{
  color: #e6aace;
}
